<section class="usa-grid-whole">
  <section class="usa-width-one-whole">
    <article class="usa-width-one-half">
      <p>Halfsies</p>
    </article>
    <article class="usa-width-one-half">
      <p>Other halfsies</p>
    </article>
  </section>
</section>
