<div class="usa-grid-whole">
  <div class="usa-width-one-whole">
    <div class="usa-width-one-half">
      <p>Halfsies</p>
    </div>
    <div class="usa-width-one-half">
      <p>Other halfsies</p>
    </div>
  </div>
</div>
