<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Public Information Portal</strong></h2>
        </div>
      </div>
      <div class="tab-container tab-orange">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab", href="#posted-public-notices">Posted Public Notices</a>
          </li>
          <li>
            <a data-toggle="tab", href="#all-military-equipment">All Military Equipment</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="posted-public-notices">
            <div class="row">
              <div class="col-md-12">
                <!-- heading -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= render "static_pages/public/public_notices" %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="all-military-equipment">
            <div class="row">
              <div class="col-md-12">
                <!-- heading -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= render "static_pages/public/existing_equipment" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
