<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to the 1033 Equipment Logger Project, <%= @user.email %></h3>
    <p>
      You have successfully signed up.
    </p>
    <p>Thanks for joining and have a great day! If you ever need any assistance, feel free to reply to this email address.</p>
  </body>
</html>
