<div class="navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "House Bill 330", "http://leg.mt.gov/bills/2015/hb0399/HB0330_x.pdf", class: "usa-footer-primary-link" %>
      </li>
      <li>
        <%= link_to "Inventories Prior to HB 330", "https://www.muckrock.com/foi/montana-157/1033-mou-and-annual-inventory-form-montana-highway-patrol-12999/", class: "usa-footer-primary-link" %>
      </li>
      <li>
        <%= link_to "DOJ Website on the 1033 Program", "https://dojmt.gov/highwaypatrol/1033-program/", class: "usa-footer-primary-link" %>
      </li>
      <li>
        <%= link_to "State Checkbook", "http://www.porkcast.com", class: "usa-footer-primary-link" %>
      </li>
      <li>
        <a href="mailto:nicholas.schwaderer@gmail.com">nicholas.schwaderer@gmail.com</a>
      </li>
    </ul>
  </div>
</div>
