<header class="usa-site-header" role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official">
      <%= image_tag("binoculars.ico") %>
      <p>A volunteer-driven transparency project.</p>
    </div>
    <p class="usa-disclaimer-stage">
      This site is currently in alpha.
      <a href="https://github.com/schwaughlin/1033-Public-Notice-System/">Learn more.</a>
    </p>
  </div>
  <div class="site-navbar">
    <a class="menu-btn" href="javascript:void(0);">Menu</a>
    <div class="site-logo" id="logo">
      <em>
        <%= link_to "this is another test link", "#" %>
        <!-- <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
        Draft U.S. Web Design Standards</a> -->
      </em>
    </div>
  </div>
  <nav class="site-nav-secondary js-sticky-nav">
    <ul>
      <li>
        This is a test li
      </li>
      <!-- <li>
        <a {% if page.category == 'UI components' or page.title == 'UI components' %}class="usa-current"{% endif %} href="/">UI COMPONENTS</a>
      </li>
      <li>
        <a {% if page.category == 'Getting started' or page.title == 'Getting started' %}class="usa-current"{% endif %} href="/getting-started/">GETTING STARTED</a>
      </li>
      <li>
        <a {% if page.title == 'Design principles' %}class="usa-current"{% endif %} href="/design-principles/">DESIGN PRINCIPLES</a>
      </li>
      <li>
        <a {% if page.category == 'About our work' or page.title == 'About our work' %}class="usa-current"{% endif %} href="/about-our-work/">ABOUT OUR WORK</a>
      </li> -->
    </ul>
  </nav>
</header>
